.article #banner{
	height: 300px;
}
.article h1{
	border: none;
}
.article #banner .inner{
	top: 30px;
}
.content_wrapper{
	width: 1080px;
	margin: 0 auto;
}
.article .content{
	background: #fefefe;
}
article{
	line-height: 2;
	padding: 10px 20px;
	background: white;
}
.article .info{
	font-size: 14px;
	color: #888;
	padding: 15px 0;
}